@import url("https://fonts.googleapis.com/css2?family=Copse&family=Didact+Gothic&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@400;500;600;700&family=Domine:wght@500;600;700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,500&display=swap");

@import url("https://fonts.cdnfonts.com/css/cubano");

@import "~bootstrap/scss/bootstrap.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #4f46e5;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #4f46e5;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table {
  font-family: "didact gothic", sans-serif;
}

li {
  font-family: "didact gothic", sans-serif;
  font-size: 1.2rem;
}
